{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
<style>
    .card-img-top {
        aspect-ratio: 1/1;
        object-fit: contain;
    }
    .card {
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        width: fit-content;
        min-width: 100%;
        align-items: center;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        min-width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-3 text-center">
    <h1 class="text-center">Merry Christmas Baby!</h1>
    <p class="text-center">Welcome, {{ current_user.username }}!</p>

    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card">
                <img src="https://cdn-icons-png.flaticon.com/512/362/362326.png" class="card-img-top" alt="Coupons" style="padding: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Coupons</h5>
                    <p class="card-text">View and redeem coupons.</p>
                    <a href="{{ url_for('main.coupons') }}" class="btn btn-primary">Go to Coupons</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://png.pngtree.com/png-vector/20221210/ourmid/pngtree-lucky-wheel-png-image_6518840.png" class="card-img-top" alt="Spinner">
                <div class="card-body">
                    <h5 class="card-title">Date Spinner</h5>
                    <p class="card-text">Spin for epic date ideas</p>
                    <a href="{{ url_for('main.spinner') }}" class="btn btn-primary">Go to Spinner</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://www.freeiconspng.com/thumbs/calendar-image-png/calendar-image-png-3.png" class="card-img-top" alt="Calendar">
                <div class="card-body">
                    <h5 class="card-title">Calendar</h5>
                    <p class="card-text">View Calendar</p>
                    <a href="{{ url_for('main.calendar') }}" class="btn btn-primary">Go to Calendar</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}